/**
 * Sleeky
 * Simplified popup in the right bottom corner of the screen
 */

// Variables
@sleeky-width: 320px;

* {
    box-sizing: border-box;
    font-family: "Arial";
}

.sleeky {
    position: relative;

    &__title {
        display: block;
        font-weight: bold;
    }

    &.collapsed {
        .sleeky-expanded {bottom: -250px;}
        .sleeky-collapsed {bottom: 0;}
    }
}

.sleeky-collapsed {
    overflow: hidden;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: -48px;
    right: 0;
    width: @sleeky-width;
    padding: 15px;
    transition: bottom .3s ease-in-out .3s;
    cursor: pointer;
    z-index:2800;
}

.sleeky-expanded {
    overflow: hidden;
    background: #CF423F;
    color: #fff;
    position: fixed;
    bottom: 0;
    transition: bottom .3s ease-in-out;
    z-index: 2900;
    right: 0;
    width: @sleeky-width;

    &__content {padding: 15px;}

    &__close {
        cursor: pointer;
        border: 0;
        background: #333;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 40px;
        height: 40px;
        z-index: 1;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        line-height: 40px;
        font-size: 24px;

        &:hover {
            text-decoration: none;
            background: lighten(#333, 5%);
            outline: none;
        }

        &:focus {outline: none;}
    }
}
